/* VCE - boudary_builder.css */
/*
/* Boundary builder tool style sheet. */
/*
/* Andrew D. McGuire 2018 */
/* ---------------------------------------------------------------------- */	   
body {
    margin: 5px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.ploty_graph {
         height: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 4fr;
        background-color: #fff;
        color: #444;
    }

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    
}

.sim_container {
    grid-column: 2 / 3;
    grid-row: 2 / 8;
    height: 800px
}

#file_picker_container {
    grid-column: 2 / 3;
    grid-row: 1;
}

#filename_input {
    width: 70%
}

.vce_info {
    grid-column: 1 ;
    grid-row: 1 ;
}

.button_container {
    grid-column: 1 ;
    grid-row: 2 / 8 ;
}


.coordinate_container {
    grid-column: 1 / 3 ;
    grid-row: 9 ;
}


.scaling_container {
    grid-column: 1 / 3 ;
    grid-row: 10 ;
}


.usage_container {
    grid-column: 1 / 3 ;
    grid-row: 8 ;
}

.vce_logo {
    width: 20%;
    margin: auto;
    display:block;
}

select {
  display: none;
}
