.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-left: 2.5%;
    margin-top: 5px;
    width:96%;
    border-radius: 4px;
    font-family: 'Roboto', serif;
    /* -webkit-transition-duration: 0.4s; /\* Safari *\/ */
    /* transition-duration: 0.4s;   */  
}

.button:hover {
    background-color: #ffffff; /* Green */
    color: #008CBA;
    border: 2px solid #008CBA;
}
