* {
    margin : 0;
    padding : 0;

}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr;
    background-color: #fff;
    color: #444;
}

.sim_container {
    grid-column: 4 / 7;
    grid-row: 1;
}

#theory_container {
    float:left;
    width:100px;
    overflow-y: auto;
    height: 100px;
}


#mccabe_thiele_container {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}


.vce_info {
    grid-column: 6;
    grid-row: 2;
}


.button_container {
    grid-column: 4 / 6;
    grid-row: 2;
    display: grid;
    //grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

#run {
    grid-row: 1;
    grid-column: 1;
}
#restart {
    grid-row: 1;
    grid-column: 2;
}
#fullscreen {
    grid-row: 1;
    grid-column: 3;
}
#info {
    grid-row: 2;
    grid-column: 2;
}

.vce_logo {
    width: 20%;
    margin: auto;
    display:block;
    margin-bottom: 10px
}


/* hide the plotly toolbar */
.modebar {
    display: none !important;
}

